<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.helpingkidsroundfirst.hkrf">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- unavailable in API 23 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".navigation_bar_activities.inventory.view_inventory.ViewInventoryActivity"
            android:label="@string/title_activity_view_inventory"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.helpingkidsroundfirst.hkrf.MainActivity" />
        </activity>

        <activity
            android:name=".navigation_bar_activities.inventory.receive_inventory.ReceiveInventoryActivity"
            android:label="@string/title_activity_receive_inventory"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.helpingkidsroundfirst.hkrf.MainActivity" />
        </activity>

        <activity
            android:name=".navigation_bar_activities.inventory.ship_inventory.ShipInventoryActivity"
            android:label="@string/title_activity_ship_inventory"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.helpingkidsroundfirst.hkrf.MainActivity" />
        </activity>

        <activity
            android:name=".navigation_bar_activities.ips.locate_item.LocateItemActivity"
            android:label="@string/title_activity_locate_item"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.helpingkidsroundfirst.hkrf.MainActivity" />
        </activity>

        <activity
            android:name=".navigation_bar_activities.inventory.view_reports.ViewReportsActivity"
            android:label="@string/title_activity_view_reports"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.helpingkidsroundfirst.hkrf.MainActivity" />
        </activity>

        <activity
            android:name=".navigation_bar_activities.inventory.view_reports.google_drive.ExportDBToDriveActivity"
            android:label="@string/export_db_title"
            android:parentActivityName=".navigation_bar_activities.inventory.view_reports.ViewReportsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.helpingkidsroundfirst.hkrf.navigation_bar_activities.inventory.view_reports.ViewReportsActivity" />
        </activity>

        <activity
            android:name=".navigation_bar_activities.inventory.view_reports.google_drive.ExportToSheetsActivity"
            android:label="@string/export_to_sheets_title"
            android:parentActivityName=".navigation_bar_activities.inventory.view_reports.ViewReportsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.helpingkidsroundfirst.hkrf.navigation_bar_activities.inventory.view_reports.ViewReportsActivity" />
        </activity>

        <activity
            android:name=".navigation_bar_activities.inventory.view_reports.google_drive.UpdateDBFromDriveActivity"
            android:label="@string/import_db_title"
            android:parentActivityName=".navigation_bar_activities.inventory.view_reports.ViewReportsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.helpingkidsroundfirst.hkrf.navigation_bar_activities.inventory.view_reports.ViewReportsActivity" />
        </activity>

        <provider
            android:name=".data.InventoryProvider"
            android:authorities="org.helpingkidsroundfirst.hkrf"
            android:exported="true" />

    </application>

</manifest>